.container > div > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .text {
    pointer-events: none;
    justify-content: start !important;
    font-family: 'Kanit', sans-serif;
    text-align: right;
    /* line-height: 0px; */
    text-transform: uppercase;
  }
  
  .number {
    font-size: 4rem;
    color: #545864;
  }
  
  .number span {
    display: inline-block;
    position: relative;
  }
  
  .slopeBegin {
    clip-path: circle(30%);
  }
  
  .slopeEnd {
    clip-path: circle(30%);
  }
  
  .slopeBegin,
  .slopeEnd {
    position: relative;
    width: 40%;
    height: 100%;
    cursor: pointer;
  }

  .ProjectPage-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  
  .pink {
    background: linear-gradient(to right, rgb(255, 20, 71) 0%, coral 100%);
  }
  
  .teal {
    background: linear-gradient(to left, rgb(142, 78, 243) 0%, rgb(0, 47, 255) 100%);
  }
  
  .tomato {
    background: linear-gradient(to right, tomato 0%, gold 100%);
  }
  