// FONT VARIABLES
$serif: "Playfair Display", serif;
$sans-serif: "Montserrat", sans-serif;
// COLOR VARIABLES
$light: rgb(248, 241, 240);
$red: rgb(219, 69, 69);
$blue: rgb(46, 16, 220);

// RESET
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

.vanta-container {
  min-height: 100vh;
  min-width: 100vw;
}

nav {
  font-family: $sans-serif;
  color: $light;
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-between;

  h1 {
    margin-left: 2rem;
    text-shadow: -1px 1px $red;
    font-size: 1.75rem;
  }
  h1:hover {
    text-shadow: 1px 1px $red;
    cursor: pointer;
  }

  .navlinks-container {
    display: flex;
    text-align: right;
    align-items: flex-end;
    justify-content: space-evenly;
    margin-right: 2rem;

    .navlink-margin {
      margin-right: 3rem;
    }
  }
  .nav-link:hover {
    text-decoration: underline;
    cursor: pointer;
    text-shadow: 1px -0.5px $red;
  }
  .navlink-active {
    text-decoration: underline;
    text-shadow: 1px -0.5px $red;
  }
}

// HOME STYLES
.jumbotron-container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-around;
  padding-top: 2rem;
}

.trail-text {
  position: relative;
  width: 100%;
  height: 90px;
  line-height: 80px;
  color: $light;
  font-family: $serif;
  font-size: 4.5rem;
  font-weight: 800;
  text-shadow: -1px 1px $red;
  letter-spacing: -0.05em;
  will-change: transform, opacity;
  overflow: hidden;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.trail-text > div {
  padding-right: 0.05em;
  overflow: hidden;
}

.trail-container {
  display: flex;
  align-items: center;
}

.enter-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.pointer-symbol {
  color: $light;
  font-size: 5rem;
  text-align: center;
  line-height: 0.75;
}

.pointer-symbol-text {
  text-align: center;
  font-family: $sans-serif;
  color: $light;
}

// WORK SECTION STYLES
.work-section {
  //   display: flex;
  //   justify-content: space-evenly;
  //   align-content: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-template-rows: auto;
  margin-top: 1rem;

  h1 {
    font-family: $sans-serif;
    color: $light;
    text-shadow: 2px -1px $red;
    text-align: center;
    font-size: 4rem;
  }
}

// .project-page-container {

// }
// .svg-container {
//    grid-column: 2;
//    grid-column: 2;
//    grid-row: 1;
// }

.parallax-arrows-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60vh;
  margin-right: 3rem;
  margin-left: 3rem;
  h1:hover {
    cursor: pointer;
  }
}

.svg-animated {
  // display: flex;
  // align-self: center;
  // justify-self: center;
  height: 90vh;
  width: 100%;
}

.project-image-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  // line-height: .5;
  //   img {
  // grid-column: 2;
  // grid-row: 1;
  // display: flex;
  // justify-content: center;
  img {
    width: 15vw;
    height: auto;
    filter: grayscale(75%);
    -webkit-filter: grayscale(75%);
   
    // grid-column: 2;
  }

  //   }
}

.project-title-container {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  h1 {
    font-family: $sans-serif;
    color: $light;
    text-shadow: 1px -0.5px $red;
    text-align: center;
    font-size: 3rem;

  }
}

.project-links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
  .svg-link-container {
    display: flex;
    align-items: center;
    border: 1px solid $light;
    border-radius: 20px;
    padding: 0.5rem;
    margin-left: .5rem;
    margin-right: .5rem;
    img {
      width: auto;
      height: 1rem;
      filter: invert(85%) sepia(2%) saturate(1024%) hue-rotate(315deg)
        brightness(115%) contrast(94%);
    }
    h4 {
      font-family: $sans-serif;
      font-weight: 400;
      color: $light;
      text-shadow: 1px -0.5px $red;
      font-size: 1rem;
      margin-left: 0.25rem;
    }
  }
  .svg-link-container:hover {
    background-color: rgba(69, 53, 163, 0.25);
    cursor: pointer;
  }
}

.centered {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.about-section {
  margin-top: 1rem;

  .about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  h1 {
    font-family: $sans-serif;
    color: $light;
    text-shadow: 2px -1px $red;
    text-align: center;
    font-size: 4rem;
  }
  .about-image-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    .social-links-container {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
    }
    .svg-link-container {
      display: flex;
      align-items: center;
      border: 1px solid $light;
      border-radius: 25px;
      padding: 0.5rem;
      img {
        width: auto;
        height: 1rem;
        filter: invert(85%) sepia(2%) saturate(1024%) hue-rotate(315deg)
          brightness(115%) contrast(94%);
      }
      h4 {
        font-family: $sans-serif;
        font-weight: 400;
        color: $light;
        text-shadow: 1px -0.5px $red;
        font-size: 1rem;
        margin-left: 0.25rem;
      }
    }

    .svg-link-container:hover {
      background-color: rgba(46, 16, 220, 0.25);
    }
  }

  img {
    width: 20vw;
    height: auto;
    //   border: 1px solid $red;
  }
  p {
    font-family: $serif;
    color: $light;
    text-shadow: 1px -0.5px $red;
    font-size: 1rem;
    .paragraph-start {
      font-family: $sans-serif;
      color: $light;
      text-shadow: 2px -1px $red;
      font-size: 3rem;
    }
  }
}
