// FONT VARIABLES
$serif: "Playfair Display", serif;
$sans-serif: "Montserrat", sans-serif;
// COLOR VARIABLES
$light: rgb(248, 241, 240);
$red: rgb(219, 69, 69);

// RESET
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

.vanta-container {
  min-height: 100vh;
  min-width: 100vw;
}

nav {
  font-family: $sans-serif;
  color: $light;
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-between;

  h1 {
    margin-left: 2rem;
    text-shadow: -1px 1px $red;
    font-size: 1.75rem;
  }
  h1:hover {
    text-shadow: 1px 1px $red;
    cursor: pointer;
  }

  .navlinks-container {
    display: flex;
    text-align: right;
    align-items: flex-end;
    justify-content: space-evenly;
    margin-right: 2rem;

    .navlink-margin {
      margin-right: 3rem;
    }
  }
  .nav-link:hover {
    text-decoration: underline;
    cursor: pointer;
    text-shadow: 1px -0.5px $red;
  }
}

section {
  padding-top: 4rem;
}

// HOME STYLES
.jumbotron-container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-around;
}

.trail-text {
  position: relative;
  width: 100%;
  height: 80px;
  line-height: 80px;
  color: $light;
  font-family: $serif;
  font-size: 5rem;
  font-weight: 800;
  text-shadow: -1px 1px $red;
  letter-spacing: -0.05em;
  will-change: transform, opacity;
  overflow: hidden;
  margin-left: 2rem;
    margin-bottom: 1rem;
}

.trail-text > div {
    padding-right: 0.05em;
    overflow: hidden;
}

.trail-container {
    display: flex;
    align-items: center;
}

.pointer-symbol {
    color: $light;
    font-size: 5rem;
    margin-right: 4rem;
    margin-left: 0;
}

.work-section {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  img {
    width: 35vw;
    height: auto;
    // filter: grayscale(75%);
    // -webkit-filter: grayscale(75%);
  }
}
